.DS_Store
.claude/
.agents/
CLAUDE.md
temp_clone/
staticfiles/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

# Django
__pycache__/
*.pyc
db.sqlite3
media/
.env
*.sqlite3
.venv/
